@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Inky Thin Pixels";
  src: url("../fonts/Inky Thin Pixels.ttf") format("truetype"),
  url("../fonts/Inky Thin Pixels.woff") format("woff");
}

body {
  font-family: "Inky Thin Pixels", Courier;
}

.sizeable-ui-element {
  width: 40px;
  height: 40px;
  padding: 0; // remove any padding added by browsers. (Fix for mobile-safari - the new IE!)
}

button.sizeable-ui-element {
  padding: 0.375rem; // Must be equal on each side
}

@include media-breakpoint-up(lg) {
  .sizeable-ui-element {
    width: 54px;
    height: 54px;
  }
}

.hud {
  position: absolute;
  background-color: #b5b5b5EE;
  width: 100%;
  bottom: 0;
}

#current-agent {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 20px;
  top: -30px;
  padding: 0.125em;
}

@include media-breakpoint-up(lg) {
  #current-agent {
    width: 96px;
    height: 96px;
  }
}

.shape-element-button {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  line-height: 1;
  background-color: white;
}

.shape-element-button:hover {
  box-shadow: 0 0 10px rgba(0, 200, 200, 0.5);
}

.shape-list .shape-element-button {
  margin-bottom: 0.5em;
}

.hud-tab-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

$tab-normal-color: #b5b5b5;
$tab-active-color: #e2e2e2;
$tab-hover-color: $tab-active-color;

.hud-tab-list li {
  padding: 0.5em;
  text-align: center;
  background: #b5b5b5;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.hud-tab-list li.selected {
  background-color: $tab-active-color;
}

.hud-tab-list li:hover {
  background-color: $tab-hover-color;
}

.tab-container {
  padding: 1em;
  background-color: $tab-active-color;
}

.design-tab-content {
  display: flex;
  justify-content: space-evenly;
}

.tool {
  display: inline-block;
}

.tool-icon {
  width: 100%;
  height: 100%;
}

.activeTool {
  background: lightgray;
}

.rule-tab-content {
  height: 55vh;
  overflow: auto;
}

@include media-breakpoint-up(lg) {
  .rule-tab-content {
    height: 45vh;
    overflow: auto;
  }
}

/**
 * Small screen
 */
.hud-toolbar-button {

}

.hud-toolbar-button:disabled {
  visibility: hidden;
}

$top-bar-index: 10;

.play-bar {
  position: absolute;
  left: 40%;
  display: flex;
  justify-content: space-between;
  z-index: $top-bar-index;
}

.undo-bar {
  position: absolute;
  display: flex;
  z-index: $top-bar-index;
}

.aux-bar {
  position: absolute;
  right: 0;
  z-index: $top-bar-index;
}

.rule {
  background-color: lightgray;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

@include media-breakpoint-up(lg) {
  .rule {
    flex-direction: row;
  }
}

.if-keyword,
.then-keyword {
  margin-bottom: 1em;
}

.if-block,
.then-block {
  min-width: 50%;
}

.conditions,
.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.conditions .instruction {
  background-color: #ffA800;
}

.actions .instruction {
  background-color: #00bee9ff;
}

.instruction {
  position: relative;
  width: fit-content;
  display: flex;
  margin-bottom: 0.25em;
  padding: 10px;
  margin-right: 1em;
}

.instruction-toolbar {
  position: absolute;
  left: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: #ffffffd6;
  border-radius: 0.25rem;
  z-index: 50;
}

.add-operation {
  background: transparent;
  border-radius: 50%;
  border: 4px solid white;
  text-shadow: 0 0 0 0 white;
  font-size: 200%;
  line-height: 1;
  font-weight: bold;
  color: #ffffff;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.add-operation:hover {
  color: darkgray;
  border-color: darkgray;
}

.rules > div > .add-operation {
  color: black;
  border-color: black;
}


/* Argument */
.argument {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
}

.argument img {
  margin-right: 0.5em;
}

.argument img:last-child {
  margin-right: 0;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 60;
}

.inline-editor {
  position: absolute;
  background-color: #2c3e50;
  z-index: 70;
  width: max-content;
  padding: 0.5em;
  border-radius: 0.25rem;
}
